:root {
  --color-primary: #282c34;
  --color-secundary: #490a91;
}

html {
  width: 100%;
  height: 100%;
}

html, body, .app, .app>div {
  height: 100%
}

div, p{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: var(--color-primary);
  padding: 0 1rem 2rem 1rem;
}

.App a {
  text-decoration: none;
  color: aliceblue;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top: 0.3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
}

.App-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-head #title {
  font-size: calc(30px + 2vmin);
  font-weight: bold;
}

.App-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  border: 1px solid white;

  font-size: calc(10px + 2vmin);
  color: white;
}

.language-selector {
  align-items: center;
  display: flex;
}

.App-options .wrapper-user {
  display: flex;
  flex-direction: column;
}

.App-options .user {
  align-content: flex-start;
}

.App-options .user .logged-username, img {
  align-self: flex-start;
  font-size: calc(5px + 2vmin);
}

.App-options .user-options {
  font-size: calc(5px + 1vmin);
  align-content: flex-end;
}

.App-content {
  min-height: 87vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App .wrapper-movies {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}


/* MOVIE LIST */

.movie-list {
  margin: 1em 0 1em 0;
  width: 98%;
}

.movie-list .list-head {
  display: flex;
  color: black;
  align-items: center;
  background: rgba(255, 255, 255, 0.829);
}

.movie-list .single-movie {
  display: flex;
  align-items: center;
  background: rgba(153, 153, 153, 0.5);
}

.movie-list .single-movie .movie-info {
  display: flex;
  justify-content: space-evenly;
}

.single-movie img {
  width: 3rem;
}

.status {
  margin-right: 2rem;
  width: 1rem;
}

tbody .status {
  padding: 3rem 0; 
}

.image {
  width: 5rem;
  margin: 0 5rem;
}

.title {
  width: 10rem;
  margin: 0 10rem;
}
.reWatch {
  width: 5rem;
  margin: 0 5rem;
}

.comment {
  width: 5rem;
  margin: 0 5rem;
}

/* END MOVIE LIST */

/* MOVIE STATUSES */
.tooltip .tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 3.5%;
}
.tooltip:hover .tooltiptext {
  display: block;
}
.completed {
  background-color: cornflowerblue;
}

.planned {
  background-color: rgb(173, 173, 173);
}

.watching {
  background-color: rgba(98, 184, 17, 0.842);
}

/* END MOVIE STATUSES */

/* SideNav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* END SideNav */

/* GENERAL */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icons {
  width: 2rem;
}
